.navbar
  background-color: #fff
  &-top
     display: flex
     align-items: center
     justify-content: space-between
     padding-top: 40px
     padding-bottom: 40px
     
     &__menu-button
      display: none
      justify-content: space-between
      align-items: center
      flex-direction: column
      padding: 0
      width: 16px
      height: 11px
      border: none
      cursor: pointer
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  &-mobile
    display: none
  &-bottom
    background-color: $dark-color
  &-menu 
    list-style-type: none 
    display: flex
    align-items: center
    justify-content: space-between
    color: #fff
    margin: 0
    padding: 31px 0
    &__link
      color: inherit
      text-decoration: none
      text-transform: uppercase
      font-size: 14px
      &__mobile
        color: #fff
        font-size: 12px
        line-height: 15px
        text-decoration: none
        text-transform: uppercase
    &__mobile
      list-style-type: none 
      display: flex
      flex-direction: column
      align-items: center
      min-height: 320px
      padding-left: 0
      margin: 0
    &__item
      &__mobile
        padding-bottom: 20px
  &__search 
    margin-right: auto  
    margin-left: 108px 
    &__mobile
      width: 243px
      height: 40px
      margin-bottom:  39px
  &__user
    &__mobile
      display: flex
      flex-direction: column
      padding-top: 31px

.logo
  width: 177px
.search
  display: flex
  position: relative
  overflow: hidden
  border-radius: 6px
  &__input
    width: 350px 
    height: 40px
    padding-right: 75px  
    padding-left: 23px  
    background-color: #F5FAFE
    border: none
    font-size: 12px
    line-height: 15px
    color: $text-color
  &__button
    position: absolute
    top: 0
    right: 0
    width: 65px
    height: 100%
    border: none
    background-color: $primary
.user
  display: flex
  text-decoration: none
  align-items: center
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    margin-left: 14px
    font-size: 14px
    line-height: 18px
    color: $text-color
    &__mobile
      padding-top: 10px
      padding-bottom: 27px 
      font-size: 14px
      line-height: 18px
      color: #fff      
