@media ( max-width: 1200px )
  .container
    max-width: 960px
@media (max-width: 960px)
  .container
    max-width: 700px
  .navbar
    &-top
     padding-top: 30px
     padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding: 20px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .logo
    width: 132px
@media ( max-width: 768px  )
  .container
    max-width: 576px
    max-width: 92%

  .navbar
    &__search,&-menu,&__user
      display: none
  .menu
    &-button
      display: flex
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    &-info
      padding-top: 0px
      &__wrapper
        justify-content: space-between
      &__offer
        order: -1
        margin-left: 0
      &__right
        display: none
      &__stars
        flex-basis: content
      &__name
        margin-top: 10px
        width: 100%
      &__left
        width: 100%
        
@media  (max-width: 576px)
  .logo
    width: 99px
@media (max-width: 320px)
  .navbar
    &-mobile
      display: flex
      align-items: center